/* public/styles/frontend/page.css */

.Page .main{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 15px;
    min-height: 600px;
}

.Page .main .content,
.Page .main .sidebar{
    background-color: white;
    padding: 20px;
}

.Page .main .sidebar{
    padding: 0;
}

.Page .main .content .title{
    font: 20px/1.5 Oswald, Bayon;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px){
    .Page .main{
        grid-template-columns: 100%;
        min-height: auto;
    }
}