/* public/styles/backend/user.css */

.User form input,
.User form select{
    font: var(--body-font);
    width: 100%;
    padding: 1px 5px;
}

.User form .ck-editor__editable{
    min-height: 400px;
    color: black;
}

.User form .wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 0;
}

.User form .info{
    text-align: center;
}